* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg-color-primary: #ffffff;
    --main-color: #36acb8;
    --background-color1: #ccc;
    --background-color2: #202124;
}

[data-theme='dark'] {
    --bg-color-primary: #202124;
    --main-color: #36acb8;
    --background-color1: #ccc;
    --background-color2: #ffffff;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color-primary);
}

.header {
    background-color: var(--bg-color-primary);
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
    border-bottom: solid 1px var(--background-color1);
    box-shadow: 2px 0px 2px 0px var(--background-color1)
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    width: 140px;
    height: 70px;

}

.header-right {
    display: flex;
    padding: 20px;
    align-items: center;
}

.header-right .items-icon i {
    padding: 0 15px;
    color: var(--main-color);
}

.fa-solid {
    font-size: 25px;
}

.fa-solid:hover {
    font-size: 30px;
}

section .main {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color-primary);
}

section .main .searchBx {
    position: relative;
    width: 500px;
    margin-top: 20px;

}

section .main .searchBx .query {
    width: 100%;
    padding: 13px;
    outline: none;
    font-size: 16px;
    padding-left: 45px;
    padding-right: 60px;
    border: 1px solid var(--background-color2);
    border-radius: 30px;
}

section .main .searchBx .icons {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    align-items: center;
    pointer-events: none;
}

section .main .searchBx .icons img {
    max-width: 100%;
}

.searchBtn {
    margin: 0 5px;
    margin-top: 20px;
    padding: 12px 20px;
    color: var(--color-black);
    font-weight: bold;
    background-color: var(--main-color);
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid transparent;
}

.searchBtn:hover {
    border: 1px solid var(--background-color1);
}

.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color-primary);
    margin-top: 120px;
    padding: 14px 20px;
}


.footer a {
    text-decoration: none;
    color: var(--background-color2);
    font-size: 15px;
    padding-right: 10px;
}

#toggleBtn {
    position: fixed;
    display: inline-block;
    border-radius: 20px;
    background-color: var(--background-color1);
    margin: -80px 30px;
}

#toggleBtn img {
    width: 50px;
    height: 50px;
    padding: 10px;
}